html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 91, 116);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  background-color: inherit;
  color: white;
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  position: fixed;  
  bottom: 10px;   
  left: 50%;   
  transform: translateX(-50%);
}

#rulesContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#rules {
  display: none;
  background: burlywood;
  position: fixed;
  bottom: 10%; 
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  text-align: center;
  padding: 20px;
  opacity: 70%;
  border-radius: 20px;
  text-shadow: 1px 1px 5px rgba(126, 67, 67, 0.611);
  box-shadow: 3px 3px 10px #531919;
}

#enter, #chooseCharacter {
  text-align: center;
  font-size: 24px;
}

#wizardCharacter, #warriorCharacter {
  width: 200px;
  height: 300px;
}

#enter {
  cursor:pointer; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
  font-size: 24px;
}

#characterSelection {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.characterImage {
  cursor: pointer;
  display: table-column;
  justify-content: space-between;
}

#wizardImage {
  background-color: rgba(137, 43, 226, 0.735);
  padding: 10px;
  border-radius: 20px;
}

#warriorImage {
  background-color: rgba(255, 0, 0, 0.464);
  padding: 10px;
  border-radius: 20px;
}

#vs {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, +50%);
  font-size: 90px;
  color: goldenrod;
  font-style: italic;
  text-shadow: 5px 5px 15px #000000;
}

.characterImage p {
  display: flex;
  justify-content: center;
  color: white;
}

#characterSelection {
  display: none;
}

#chooseCharacter {
  display: none;
  justify-content: center;
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px 10px #e2b8b8;
}

#enter {
  display: flex;
  justify-content: center;
  color: rgb(246, 245, 249);
  font-size: 8vh;
  text-shadow: 3px 3px 6px #83f170d6;
}

#pseudo {
  display: none;
  justify-content: center;
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px 10px #e2b8b8;
}

#welcome {
  display: grid;
  columns: auto;
  text-align: center;
  margin-bottom: 4rem;
  color: rgb(207, 212, 61);
  font-size: 60px;
  text-shadow: 3px 3px 6px #b2e1aad6;
}

#welcomeImg {
display: flex;
justify-content: center;
padding: 17px;
width: 90vh;
height: 70vh;
}